@model RadioMeti.Application.DTOs.Admin.Roles.FilterRolesDto
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
 string title = "Roles";
}
<partial name="_AdminTitle" model="title" />
@section Styles{
<style>
    .w-100 {
        width: 100% !important;
    }
     .border-success{
        border:1px solid green;
    }
</style>
}
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filter
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <form id="filter-form" asp-area="Admin" asp-controller="Permission" asp-action="Index" method="get">
                        <input type="hidden" asp-for="PageId" />
                        <div class="form-group">
                            <a asp-area="Admin" asp-controller="Permission" asp-action="CreateRole" class="btn btn-primary text-white w-100">Create Role</a>
                        </div>
                        <div class="form-group">
                            <label>User Name</label>
                            <input asp-for="RoleName" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info text-white w-100">Search</button>
                        </div>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Commands</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Roles)
                            {
                                <tr>
                                    <td>@item</td>
                                    <td>
                                        <a class="btn btn-sm btn-info text-white" asp-area="Admin" asp-controller="Permission" asp-action="EditRole" asp-route-roleName="@item">Edit</a>
                                        <a class="btn btn-sm btn-warning text-white" asp-area="Admin" asp-controller="Permission" asp-action="DeleteRole" asp-route-roleName="@item">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()"/>
                     <div class="row">
                        <div class="col-12">
                            <div style="padding:1.5rem" class="dataTables_info text-info border-success" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">@Model.GetCurrentPagingStatus()</div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>




