@using RadioMeti.Application.DTOs.Admin.Event
@using RadioMeti.Application.Utilities.Utils
@model FilterEventDto
@{
    ViewData["Title"] = "Events";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
   string title = "Events";
}
<partial name="_AdminTitle" model="title" />
@section Styles{
<style>
    .w-100 {
        width: 100% !important;
    }
    .border-success{
        border:1px solid green;
    }
    .mt-3{
        margin-top:1.5rem;
    }
</style>
}
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filter
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <form id="filter-form" asp-area="Admin" asp-controller="Event" asp-action="Index" method="get">
                        <input type="hidden" asp-for="PageId" />
                        <div class="form-group">
                            <a asp-area="Admin" asp-controller="Event" asp-action="CreateEvent" class="btn btn-primary text-white w-100">Create Event</a>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input asp-for="Title" class="form-control">
                        </div>
                         <div class="form-group">
                            <label>HoldingTime</label>
                            <input asp-for="HoldingTime" class="form-control">
                        </div>
                         <div class="form-group">
                            <label>Address</label>
                            <input asp-for="Address" class="form-control">
                        </div>
                         <div class="form-group">
                            <label>Telephone</label>
                            <input asp-for="Telephone" class="form-control">
                        </div>
                         <div class="form-group">
                            <label>City</label>
                            <input asp-for="City" class="form-control">
                        </div>
                         <div class="form-group">
                            <label>AgeLimit</label>
                            <input asp-for="AgeLimit" class="form-control">
                        </div>
                         <div class="form-group">
                            <label>WhenOpen</label>
                            <input asp-for="WhenOpen" class="form-control">
                        </div>
                         <div class="form-group">
                            <label>InformationPhone</label>
                            <input asp-for="InformationPhone" class="form-control">
                        </div>
                        @foreach (var item in Html.GetEnumSelectList<FilterEventState>())
                        {
                            <div class="radio">
                                <label>
                                    <input value="@item.Value" id="@item.Text"
                                       type="radio"
                                       name="@nameof(Model.FilterEventState)"
                                       @(Convert.ToInt32(item.Value) == Convert.ToInt32(Model.FilterEventState) ? "checked" : "") />
                                    @item.Text
                                </label>
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-info text-white w-100">Search</button>
                        </div>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cover</th>
                                <th>Title</th>
                                <th>Telephone</th>
                                <th>Commands</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Events)
                            {
                                <tr>
                                    <td><img width="80" src="@(PathExtension.EventCoverThumbPath+item.Cover)" class="img-thumbnail"/></td>
                                    <td>@item.Title</td>
                                    <td>@item.Telephone</td>
                                    <td>
                                        <a class="btn btn-sm btn-info text-white" asp-area="Admin" asp-controller="Event" asp-action="EditEvent" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-sm btn-warning text-white" asp-area="Admin" asp-controller="Event" asp-action="DeleteEvent" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />
                    <div class="row">
                        <div class="col-12">
                            <div style="padding:1.5rem" class="dataTables_info text-info border-success" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">@Model.GetCurrentPagingStatus()</div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>




