@using RadioMeti.Application.DTOs.Admin.Music.Single.Edit
@using RadioMeti.Application.Utilities.Utils
@using RadioMeti.Domain.Entities.Music
@model EditSingleTrackDto
@{
    ViewData["Title"] = "Edit Single Track";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string title = "Edit Single Track";
    List<Artist> artists = ViewBag.Artists;
    List<long> artistsMusic = ViewBag.ArtistsMusic;
}
@section Styles{
    <style>
        .w-100{
            width:100%;
        }
    </style>
}
@section Scripts{
    <partial name="_JqueryValidator"/>
    @*<partial name="_CaptchaScripts"/>*@
}
<partial name="_AdminTitle" model="title" />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informations
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <form id="filter-form" asp-area="Admin" asp-controller="Music" asp-action="EditSingleTrack" method="post" enctype="multipart/form-data">
                             @*<partial name="_CaptchaInput" />*@
                             <input type="hidden" asp-for="Id"/>
                             <input type="hidden" asp-for="Cover"/>
                             <input type="hidden" asp-for="Audio"/>
                             <input type="hidden" name="artistId" value="@ViewBag.artistId"/>
                        <div class="form-group">
                            <label>Title</label>
                            <input asp-for="Title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Arrangement</label>
                            <input asp-for="Arrangement" class="form-control">
                        </div>  
                        <div class="form-group">
                            <label>CoverArtist</label>
                            <input asp-for="CoverArtist" class="form-control">
                        </div>  
                        <div class="form-group">
                            <label>Lyrics</label>
                            <input asp-for="Lyrics" class="form-control">
                        </div>  
                        <div class="form-group">
                            <label>MusicProducer</label>
                            <input asp-for="MusicProducer" class="form-control">
                        </div>  
                         <div class="form-group">
                            <label>Photographer</label>
                            <input asp-for="Photographer" class="form-control">
                        </div>  
                         <div class="form-group">
                            <label>Poet</label>
                            <input asp-for="Poet" class="form-control">
                        </div>  
                         <div class="form-group">
                            <label>Tags(/)</label>
                            <input asp-for="Tags" class="form-control">
                        </div>  
                        <div class="checkbox">
                            <label>
                            <input asp-for="IsSlider">
                            IsSlider?
                            </label>
                        </div>  
                        <div class="searchable-select">
                         <select style="display:none" class="form-control " multiple name="artistsId">
                                @foreach (var item in artists)
                                {
                                if (artistsMusic.Any(p=>p==item.Id))
                                {
                                <option selected value="@item.Id">@item.FullName</option>
                                }
                                else
                                {
                                <option value="@item.Id">@item.FullName</option>
                                }
                                }
                            </select>
                            </div>
                        <div class="form-group">
                            <label>Cover</label>
                            <input type="file" name="cover" class="form-control">
                        </div> 
                         <div class="form-group">
                            <label>Audio</label>
                            <input type="file" name="audio" accept="audio" class="form-control">
                        </div>
                          <div class="form-group">
                            <label>Audio</label>
                            <audio controls class="w-100">
                                <source src="@(PathExtension.AudioSingleTrackOriginPath+Model.Audio)"/>
                            </audio>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-info text-white w-100">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
