@using RadioMeti.Application.DTOs.Admin.Prodcast
@using RadioMeti.Application.Utilities.Utils
@using RadioMeti.Domain.Entities.Prodcast
@model FilterProdcastDto
@{
    ViewData["Title"] = "Prodcasts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Dj dj = ViewBag.dj;
    string title = "Prodcasts / "+dj?.FullName;
}
<partial name="_AdminTitle" model="title" />
@section Styles{
<style>
    .w-100 {
        width: 100% !important;
    }
     .border-success{
        border:1px solid green;
    }
</style>
}
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filter
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <form id="filter-form" asp-area="Admin" asp-controller="Prodcast" asp-action="IndexProdcast" method="get">
                        <input type="hidden" asp-for="PageId" />
                        <div class="form-group">
                            <a asp-area="Admin" asp-controller="Prodcast" asp-action="CreateProdcast" asp-route-djId="@Model.DjId" class="btn btn-primary text-white w-100">Create Prodcast</a>
                            <a asp-area="Admin" asp-controller="Prodcast" asp-action="IndexDj" class="btn btn-warning text-white w-100">Back to djs</a>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input asp-for="Title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Narrator</label>
                            <input asp-for="Narrator" class="form-control">
                        </div>
                          @foreach (var item in Html.GetEnumSelectList<FilterProdcastState>())
                        {
                            <div class="radio">
                                <label>
                                    <input value="@item.Value" id="@item.Text"
                                       type="radio"
                                       name="@nameof(Model.FilterProdcastState)"
                                       @(Convert.ToInt32(item.Value) == Convert.ToInt32(Model.FilterProdcastState) ? "checked" : "") />
                                    @item.Text
                                </label>
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-info text-white w-100">Search</button>
                        </div>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cover</th>
                                <th>Title</th>
                                <th>Narrator</th>
                                <th>Commands</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Prodcasts)
                            {
                                <tr>
                                    <td><img width="80" src="@(PathExtension.CoverProdcastThumbPath+item.Cover)"/></td>
                                    <td>@item.Title</td>
                                    <td>@item.Narrator</td>
                                    <td>
                                        <a class="btn btn-sm btn-info text-white" asp-area="Admin" asp-controller="Prodcast" asp-action="EditProdcast" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-sm btn-warning text-white" asp-area="Admin" asp-controller="Prodcast" asp-action="DeleteProdcast" asp-route-id="@item.Id" asp-route-djId="@dj?.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()"/>
                     <div class="row">
                        <div class="col-12">
                            <div style="padding:1.5rem" class="dataTables_info text-info border-success" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">@Model.GetCurrentPagingStatus()</div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



